* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
}


/*_______________________________head______________________________________________________*/

.logo {
    width: 50%;
    height: auto;
    margin: 2%;
}

header {
    background-color: #343a40;
    width: 100%;
}


/*_______________________________content_______________________________*/

.master {
    background-image: linear-gradient(#1a1a1a50, #1a1a1a50, #1a1a1a50, #1a1a1a50), url("../image/bac.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100%;
}

.cont {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.b1,
.b2,
.b3 {
    flex: 1;
    margin: 4%;
    padding: 0.4% 1% 0% 1%;
    width: 33.33%;
}

.one {
    position: relative;
    margin-top: 0%;
    margin-bottom: 5%;
    background-color: #7e797888;
    border-radius: 20px;
    font-size: 170%;
    color: chartreuse;
}

p {
    font-size: 130%;
    color: papayawhip;
}


/*----------------------------- footer ----------------------------------------------------------*/

.cr {
    background: #343a40;
    color: #686886;
    width: 100%;
    height: 4%;
}

.sub {
    font-size: 185%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: papayawhip;
    padding-top: 3%;
    margin-bottom: 4%;
}

.b1:hover,
.b1:active,
.b2:hover,
.b2:active,
.b3:hover,
.b3:active {
    transform: scale(1.16);
    -webkit-transform: scale(1.16);
}

hr {
    border: 5px solid #ff9900;
    width: 22%;
    border-radius: 20px;
    margin-bottom: 5%;
}